name: Auto Approve PR

on:
  pull_request_target:
    branches:
      - "dev/**"

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Auto Approve
        uses: hmarr/auto-approve-action@v4
        with:
          review-message: "Auto-approved by GitHub Actions"
